<!-- <link rel="stylesheet" href="/css/forgot_password.css" />

<div class="forgot-password-container">
  <h1><%= title %></h1>

  <form action="/users/verify-email" method="post" class="form">
    <input
      type="email"
      name="email"
      placeholder="Verify your email..."
      required
      autofocus
    />
    <button type="submit">Submit</button>
  </form>
</div> -->
