<link rel="stylesheet" href="/css/home.css" />

<div class="home-container">
  <section class="feed-posts">
    <% if(locals.user){ %>
    <form action="/posts/create" method="post" id="new-post-form">
      <textarea
        id="text-area"
        name="content"
        cols="30"
        rows="3"
        placeholder="Write your post..."
        required
      ></textarea>
      <button type="submit">Add Post</button>
    </form>
    <% } %>

    <div class="post-lists-container">
      <ul id="posts-list">
        <% for(post of posts){ %> <%- include('_post') -%> <%}%>
      </ul>
    </div>
  </section>

  <section class="user-friends">
    <h3>Friends</h3>
    <ul>
      <% for(u of all_users){ %>
      <li>
        <p>
          <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </p>
      </li>
      <%}%>
    </ul>
  </section>
</div>
<script src="/js/home_posts_comments.js"></script>
<script src="/js/home_posts.js"></script>

<!-- <script src="/js/toggle_likes.js"></script>
<script>
  $(".toggle-like-button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });
</script> -->
