<link rel="stylesheet" href="/css/home.css" />
<h1>Codeial | <%= title %> Page</h1>

<section class="feed-posts">
  <form action="/posts/create" method="post" class="new-post-form">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="Write your post..."
    ></textarea>
    <button type="submit">Add Post</button>
  </form>
</section>
