<link rel="stylesheet" href="/css/reset_password.css" />
<div class="reset-password-container">
  <h1><%= title %></h1>

  <form action="/users/update-password/<%= userId %>" method="post" class="form">
    <input
      type="password"
      name="password1"
      placeholder="Type your password..."
      required
      autofocus
    />
    <input
      type="password"
      name="password2"
      placeholder="Type your password again..."
      required
      autofocus
    />
    <button type="submit">Submit</button>
  </form>
</div>
