<link rel="stylesheet" href="/css/user_profile.css" />
<div class="profile-container">
  <h1>Codeial | <%= title %> Page</h1>

  <h2>Heyy!!! <%= user.name %></h2>
  <p>Your email is : <%= user.email %></p>
</div>
