footer{
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    ul{
        list-style-type: none;
        li{
            a{
                text-decoration: none;
                color: #fff;
            }
        }

        li:hover{
            border-bottom: 2px solid #fff;
        }
    }
}