.home-container{
    display: flex;

    .feed-posts{
        width: 65%;
        padding: 10px;
    }

    .user-friends{
        height: 100vh;
        width: 35%;
        padding: 25px;
        border-left: 2px solid #333;
        display: flex;
        flex-direction: column;
        align-items: center;

        .box{
            h3{
                font-size: 25px;
                border-bottom: 2px solid #333;
            }

            ul{
                list-style-type: none;
                padding: 0;

                li a{
                    font-size: 18px;
                    text-decoration: none;
                    color: deepskyblue;
                    transition: all 0.1s ease;
                }

                li a:hover{
                    border-bottom: 3px solid deepskyblue;
                }
            }
        }


        .friends{
            text-align: center;
            width: 100%;
            height: 50%;
            overflow-y: auto;
            padding: 10px;
            margin-bottom: 20px;
            z-index: 0;
            background-color: #fff;
            // border: 2px solid red;
            box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
            transition : transform 0.3s ease-in;
        }

        .all-users{
            text-align: center;
            width: 100%;
            height: 50%;
            overflow-y: auto;
            padding: 10px;
            margin-bottom: 5px;
            z-index: 0;
            background-color: #fff;
            // border: 2px solid red;
            box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
            transition : transform 0.3s ease-in;
        }


    }

    .user-friends > div:hover{
        transform: scale(1.1);
        z-index: 10;
    }
}