h1{
  margin: 0;
}

.profile-container{
  height: 100vh;
  width: 100%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 20px;
  border-radius: 20px;
  background-color: #ddd;


  .friend-box{
    padding: 15px;
    span{
      border: 1px solid deepskyblue;
      border-radius: 6px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
      padding: 10px;
      font-size: 20px;
      font-weight: 600;
      color: deepskyblue;
      background-color: #fff;
    }
  }

  .toggle-friendship{
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in;

    a{
      font-family: Times, 'Times New Roman', serif;
      font-weight: bolder;
      text-decoration: none;
      color: deepskyblue;
      font-size: 16px;
    }
  }

  .toggle-friendship:active, .toggle-friendship:hover{
    transform: scale(0.98);
  }
}
