* {
  box-sizing: border-box; }
  * body {
    margin: 0; }
    * body .layout-main {
      margin: 0;
      padding: 20px;
      height: 100vh;
      background-color: #fff;
      text-align: center; }
