h1 {
  margin: 0; }

.profile-container {
  height: 100vh;
  width: 100%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 20px;
  border-radius: 20px;
  background-color: #ddd; }
  .profile-container .add-friend {
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in; }
    .profile-container .add-friend a {
      text-decoration: none;
      color: deepskyblue;
      font-size: 16px; }
  .profile-container .add-friend:active, .profile-container .add-friend:hover {
    transform: scale(0.98); }
