<div>
  <h1>Hii Mr./Mrs <%= successPassToken.user.name %></h1>
  <p>You are receiving this email for successful password reset...</p>
  <br />
  <hr />
  <br />
  <em>Your new Password is: <%= successPassToken.user.password %> </em><br />
  <br />
  <hr />
  <br />
  <h3>
    If it wasn't you!!!Please change your account information immediately.
  </h3>
  <br /><br />

  <h1><strong>Thank You!!!</strong></h1>
</div>
